:root {
  --main-background-color: #1c2431;            /* Тёмный фон основного блока */
  --news-image-background-color: #070f16;      /* Очень тёмный фон под изображениями */
  --text-color-white: #e0e6ed;                 /* Светло-серый текст */
  --block-background-light: #2e3b4f;           /* Глубокий синий фон для блоков */
  --text-color-muted: #abb5c4;                 /* Серо-синий для подписей и заголовков */
  --text-color-paragraph: #c2cad3;             /* Стандартный текст в абзацах */
  --text-color-title: #f1f4f8;                 /* Яркий текст для заголовков h2 */
  --text-color-date: #8fa7c5;                  /* Светлый цвет даты публикации */
  --link-color-default: #4d84c4;               /* Светло-синий цвет ссылок */
  --link-color-hover: #96a2af;                 /* Серо-синий цвет при наведении */
  --box-shadow-large: 0 4px 8px rgba(30, 50, 70, 0.4);  /* Глубокая тень для крупных блоков */
  --box-shadow-small: 0 0 10px rgba(100, 130, 160, 0.2);/* Лёгкая синеватая тень */
}
.dark-theme{
  --main-background-color: #e0e6ed;           /* Тёмный фон основного блока */
  --news-image-background-color: #a8b5c0;      /* Очень тёмный фон под изображениями */
  --text-color-white: #f3f9ff;                 /* Светло-серый текст */
  --block-background-light: #707a8a;           /* Глубокий синий фон для блоков */
  --text-color-muted: #000000;                 /* Серо-синий для подписей и заголовков */
  --text-color-paragraph: #22272c;             /* Стандартный текст в абзацах */
  --text-color-title: #f1f4f8;                 /* Яркий текст для заголовков h2 */
  --text-color-date: #82878f;                  /* Светлый цвет даты публикации */
  --link-color-default: #263a50;               /* Светло-синий цвет ссылок */
  --link-color-hover: #55536d;                 /* Серо-синий цвет при наведении */
  --box-shadow-large: 0 4px 8px rgba(30, 50, 70, 0.4);  /* Глубокая тень для крупных блоков */
  --box-shadow-small: 0 0 10px rgba(100, 130, 160, 0.2);/* Лёгкая синеватая тень */
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.mainNews {
  padding-top: 80px;
  background: var(--main-background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.mainNews .imageNews {
  background-color: var(--news-image-background-color);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.mainNews .imageNews table {
  border-spacing: 10px;
}

.mainNews .imageNews .small {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 200px;
}

.mainNews .imageNews .large {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 410px;
}

.mainNews .imageNews h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  padding-bottom: 5px;
  color: var(--text-color-white);
  opacity: 1;
}

.mainNews .imageNews img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  position: absolute;
}

.mainNews .imageNews img:hover {
  opacity: 0.6;
  transition: opacity 0.1s ease-in;
}

.mainNews .lists {
  padding-top: 8px;
  width: 100%;
  max-width: 1446px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.mainNews .caption {
  color: var(--text-color-muted);
  margin: 15px;
}

.mainNews .recent {
  width: 70%;
  min-height:100vh ;
  max-width: 100%;
  border-radius: 10px;
  margin-right: 20px;
  text-align: justify;
}

.mainNews .news {
  background: var(--text-color-white);
  padding: 15px;
  height: 150px;
  margin: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow-small);
  overflow: hidden;
}
.mainNews .news .img_box {
  height: 150px;
  width: 250px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; 
}
.mainNews .news .img_box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mainNews .news h2 {
  font-size: 20px;
  margin: 0px;
  text-align: left;
  color: var(--text-color-title);
}

.mainNews .news p {
  color: var(--text-color-paragraph);
}

.mainNews .news a {
  color: var(--link-color-default);
  text-decoration: none;
}

.mainNews .news .date {
  font-size: 14px;
  color: var(--text-color-date);
}
.mainNews .hidden_news{
  display:none;
}

.mainNews .rec {
  background: var(--block-background-light);
  min-width: 340px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-large);
  text-align: justify;
  padding-right: 20px;
  
}
.mainNews .rec ul {
  color: var(--text-color-muted);
  list-style: none;
  padding-left: 20px;
}
.mainNews .rec li {
  display: flex;
}
.mainNews .rec ul a {
  display: block;
  padding-left: 10px;
  padding-bottom: 8px;
  text-align: left;
}

.mainNews a {
  text-decoration: none;
  color: var(--text-color-muted);
  text-align: center;
  padding: 0px;
  word-wrap: none;
}

.mainNews a:hover {
  color: var(--link-color-hover);
  transition: color 0.1s ease-in;
}

.mainNews .tabs {
  background: var(--block-background-light);
  display: flex;
  overflow-x: auto;
  border-bottom: 2px solid #ccc;
  margin-bottom: 25px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.mainNews .tabs::-webkit-scrollbar {
  display: none;
}

.mainNews .tab {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
  border-bottom: 3px solid transparent;
  transition: border-color 0.2s, color 0.2s;
  white-space: nowrap;
}

.mainNews .tab:hover {
  color: #b9b9b9;
}

.mainNews .tab.active {
  border-bottom: 3px solid #5c90b3;
  color: #5888a8;
}

.mainNews h1 {
  font-size: 26px;
  font-weight: 500;
  border-left: 4px solid #647e8f;
  padding-left: 10px;
  margin-top: 0;
}




.mainNews .video {
  display: flex;
  flex-wrap: wrap;
  max-width: 1446px;
  color: var(--text-color-paragraph);
  background: var(--news-image-background-color);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
}
.mainNews .video-wrapper {
  flex: 1 1 600px;
  padding: 20px;
  box-sizing: border-box;
}

.mainNews video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 5px -1px var(--text-color-white);
  
}

.mainNews .video-text {
  flex: 1 1 500px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.mainNews .video-text h2 {
  font-size: 28px;
  margin-bottom: 16px;
  color: var(--primary-color);
}

.mainNews .video-text p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-color-black);
}
/*
.like-container {
  margin-top: 10px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  color: #333;
}

.like-icon {
  width: 20px;
  height: 20px;
  fill: gray;
  transition: fill 0.3s;
}

.liked .like-icon {
  fill: red;
}

.count {
  font-weight: bold;
}

<div class="like-container" data-count="0">
                    <svg class="like-icon" viewBox="0 0 24 24">
                      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
                      2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 
                      3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 
                      3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                    <span class="count">3</span>
                  </div>

*/
.mainNews .hidden {
  visibility: hidden;
}
.mainNews .play-button {
  position: relative;
  font-size: 22px;
  padding: 16px 32px;
  background-color: var(--block-background-light);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mainNews .play-button:hover {
  background-color: #3554b0;
}



@media screen and (max-width: 1450px){
  .mainNews .lists{
    flex-direction: column;
  }
  .mainNews .recent{
    width: 100%;
  }
  .mainNews .rec{
    background: none;
    width: 100%;
    
    
  }
  .mainNews .rec .list{
    background: var(--block-background-light);
    box-shadow: var(--box-shadow-large);
    padding: 15px;
    margin: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .mainNews .recent {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1020px) {
  .mainNews .imageNews {
    width: 100%;
  }
  .mainNews .imageNews table {
    width: 100%;
    border-spacing: 0px;
    margin: 10px;
  }
  .mainNews .imageNews .small {
    display: none;
  }
  .mainNews .imageNews .large {
    display: table-cell;
    width: 100%;

  }
  
  .mainNews .news {
    flex-direction: column;
    height: auto;
  }
  .mainNews .news .img_box {
    max-height: 200px;
    width: 100%;
    margin-right: 0px;
  }
}