body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      font-size: 20px;
      background: #f4f4f4

  }
.menu {
  background: #000;
  width: 100%;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 50px;
  position: fixed;
  z-index: 3;
  box-shadow: 0px 2px 7px 2px rgba(97, 97, 97, 0.5);
}
.menu div {
  color: #FFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
}
.menu a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 30px;
  word-wrap: none;
  transition: background-color 0.3s;
}
.menu div:nth-child(2)  a:hover {
    background-color: #575757;
    border-bottom: white solid 2px;
    padding: 14px 30px 12px 30px;
    box-shadow: 0px 3px 6px 1px #c5edd2;
    transition: box-shadow 0.2s ease-in;
}
.menu .logo a{
  margin-right: 20px;
  padding: 0px;
}
.menu input {
  width: 300px;
  height: 32px;
  border: 0px solid #ccc;
  padding: 0px 20px;
  border-radius: 0px;
  background: #999;
  color: #111;
}
.menu input::placeholder {
  color: #FFF;
}
.menu button {
  height: 32px;
  border: 0px solid #ddd;
  border-radius: 0px;
  padding: 0px 20px;
  background: #222;
  color: white;
  cursor: pointer;
}



.mainNews {
  background: #ddd;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  box-shadow: 0px 2px 7px 2px rgba(97, 97, 97, 0.5);
}
.mainNews .imageNews {
  background-color: #111;
  max-width: 80%;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 20px 0px;
  border: black solid 3px;
}
.mainNews .imageNews table {
  border-spacing: 10px;
}
.mainNews .imageNews td {
  position: relative;
  overflow: hidden;
  border: none;
  width: 300px;
  height: 200px;
  padding: 0px;

}
.mainNews .imageNews .mainImg {
  overflow: hidden;
  width: 600px;
  height: 410px;
}
.mainNews .imageNews h3{
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  color: #FFF;
  opacity: 1;
}
.mainNews .imageNews img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
}
.mainNews .imageNews img:hover{
  opacity: 0.8;
  transition: opacity 0.1 ease-in;
}


.mainNews .lists {
    width: 100%;
    max-width: 1600px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.mainNews .caption {
  width: 100%;
  color: #888;

}
.mainNews .recent {
  background: #f4f4f4;
  width: 60%;
  padding: 15px;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
}
.mainNews .news{
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mainNews .news h2 {
    margin: 0;
    color: #333;
}
.mainNews .news p {
    color: #666;
}
.mainNews .news a {
    color: #007BFF;
    text-decoration: none;
}
.mainNews .news .date {
    font-size: 14px;
    color: #999;
}
.mainNews .rec {
  background: #f4f4f4;
  width: 20%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

.mainNews a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0px;
  word-wrap: none;
}
.mainNews a:hover {
    color: grey;
    transition: color 0.1s ease-in;
}



.footer {
  background: #1a1a1a;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  box-shadow: 0px -2px 7px 2px rgba(97, 97, 97, 0.5);

}
.footer .lists{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%
  max-width: 1200px;
  margin: 0 auto;
}
.footer .list{
  text-align: center;
  padding: 0 20px;
}

.footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.footer a {
  text-decoration: none;
  color: #bbb;
  padding: 0px;
  transition: color 0.1s ease-in;
}
.footer a:hover {
    color: white;
}
.footer .copy {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}



.articles {
    padding: 20px;

}
.articles table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

.articles table, th, td {
    border: 1px solid #ced4da;
}

.articles th, td {
    padding: 10px;
    text-align: left;
}
.articles thead {
    background-color: #343a40;
    color: #fff;
}
.articles table a {
    text-decoration: none;
    color: #007bff;
}

.articles table a:hover {
    text-decoration: underline;
}
.articles form {
    margin-top: 10px;
}
.articles form ul{
  list-style: none;
  margin-bottom: 10px;
}
.articles input[type="text"] {
    padding: 10px;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 20px;
}
.articles input[type="checkbox"] {
    margin-left: 20px;
}
.articles button {
    padding: 8px 12px;
    background-color: #222;
    color: #fff;
    font-size: 20px;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.articles button:hover {
    background-color: #218838;
}




.aboutUs_box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  text-align: justify;
}
.aboutUs_box p{
  padding: 20px;
}
.aboutUs_box .video_wrapper{
  position: relative;

  width: 840px;
  max-width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.aboutUs_box .video_wrapper video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position:absolute;
  top:0;
  left:0;
}

.aboutUs_box .video_wrapper .caption{
  background: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.aboutUs_box .content {
    max-width: 800px;
    margin-top: 20px;
    text-align: justify;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.aboutUs_box .content h2 {
    color: #444;
    word-wrap: normal;
}
.aboutUs_box .content p {
    line-height: 1.6;
}
.aboutUs_box .team {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.aboutUs_box .team-member {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}
.aboutUs_box .team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}



/* Адаптивность */
@media (max-width: 1200px) {
  body{
    font-size: 20px;
  }
  .mainNews .lists {
    flex-direction: column;
    align-items: center;
  }

  .mainNews .recent,
  .mainNews .rec {
    width: 90%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .menu form{
    display: none;
  }
}

@media (max-width: 1150px) {
  .menu {
    flex-direction: column;
    height: auto;
  }
  .footer .copy {
    font-size: 24px;
  }
  .footer img {
    width: 50px;
    height: 50px;
  }

  .menu div {
    justify-content: center;
    padding: 5px 0;
  }

  .menu a {
    padding: 10px 20px;
  }
  .menu div:nth-child(2)  a:hover {
      padding: 10px 20px 8px 20px;
  }
  .mainNews{
    padding-top: 150px:
  }
  .mainNews .imageNews {
    max-width: 100%;
  }
  .mainNews .imageNews table {
    border-spacing: 0px;
    margin: 10px;
  }
  .mainNews .imageNews .mainImg {
    display: table-cell;
    width: 100%;
    height: auto;
  }


  .aboutUs_box .video_wrapper {
    height: auto;
    padding-top: 56.25%;
  }

  .aboutUs_box .video_wrapper video {
    position: absolute;
    top: 0;
    left: 0;
  }

  .footer .lists {
    flex-direction: column;
    align-items: center;
  }

  .footer .list {
    margin-bottom: 10px;
  }

  .mainNews .lists {
    flex-direction: column;
    align-items: center;
  }
  .articles input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }

}

@media (max-width: 680px) {
  .menu input {
    width: 100%;
  }
  .menu form{
    display: none;
  }
  .articles input[type="checkbox"] {
    width: 50px;
    height: 50px;
  }
  .articles input[type="text"] {
    width: 100%;
  }
}
